.about-section {
  background: linear-gradient(to bottom, $black 0%, #{fade-out($black, .1)} 75%, #{fade-out($black, .2)} 100%);

  .profile-banner {
    .LI-badge-container.horizontal.light {
      width: 100% !important;
      background-color: $white;
    }

    @media (max-width: 768px) {
      text-align: center;
      margin-bottom: 3rem;
    }

    @media (max-width: 575px) {
      flex-basis: unset;
    }
  }
}