#mainNav {
  background-color: $white;
  border-bottom: none;
  background-color: transparent;
  min-height: 7.5rem;
  transition: min-height 1s;

  .navbar-brand {
    color: $white;

    #navbar-logo {
      max-width: 2.5rem;
    }
  }

  .navbar-toggler {
    font-size: 80%;
    color: $white;
    border: 0px !important;

    &:focus {
      outline: none;
    }
  }

  .nav-link {
    transition: none;
    -webkit-transition: none;
    color: $white;
    transition: all ease-in .25s;

    &:hover {
      color: $primary;
    }
  }

  .navbar-nav {
    .nav-item {
      &:hover {
        color: fade($white, 80%);
        outline: none;
        background-color: transparent;
      }

      &:active,
      &:focus {
        outline: none;
        background-color: transparent;
      }
    }
  }

  &.navbar-shrink {
    background-color: $white;
    min-height: 5rem;

    .navbar-brand, .navbar-toggler {
      color: $black;
    }

    .nav-link {
      color: $black;

      &:hover {
        color: $primary;
      }

      &:active {
        color: darken($primary, 15%);
      }

      &.active {
        position: relative;
        color: rgba($primary, .7);
        outline: none;

        &:after {
          position: absolute;
          content: '';
          bottom: -1.25rem;
          left: 0;
          height: .2rem;
          width: 100%;
          background-color: $primary;
          @media (max-width: 768px) {
            display: none;
          }
        }
      }
    }
  }
}