.skills-section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    @media (max-width: 768px) {
        padding-top: 2.5rem;
        padding-bottom: 1rem;
    }
    @media (max-width: 575px) {
        padding-top: 2.5rem;
        padding-bottom: 0;
    }
}

.skills-section .featured-text {
    padding: 2rem;
    
    p {
        @media (max-width: 768px) {
            text-align: left;
        }
    }
}

.list-group-item {
    color: $gray-800;
    .active {
        background-color: $primary;
        border-color: $primary;
    }
}
