@import 'variables';
@import 'navbar';
@import 'masthead';
@import 'about';
@import 'signup';
@import 'contact';

body {
  font-family: $font-family-sans-serif;
}

a, .default-link {
  cursor: pointer;
  color: $primary;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.bg-black {
  background-color: $black !important;
}

.icon {
  color: $white;
  transition: all ease-in .25s; 

  &:hover {
    color: $primary;
  }
}

hr {
  max-width: 50px;
  border-color: $primary;
  border-width: 2px;
}

.cursor-pointer {
  cursor: pointer;
}