@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

@import 'variables';
@import 'navbar';
@import 'masthead';
@import 'buttons';
@import 'about';
@import 'projects';
@import 'skills';
@import 'signup';
@import 'contact';

body {
  font-family: $font-family;
  font-size: 1.15rem;
}

a {
  color: $primary;

  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.bg-black {
  background-color: $black !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

.default-link {
  color: $primary;
}

.shown {
  display: block !important;
}

.light {
  background: $white;
}

i.icon {
  color: $white;
  transition: all ease-in .25s;
}

i.icon:hover {
  color: $primary;
}

hr {
  max-width: 50px;
  border-color: $primary;
  border-width: 3px
}

footer {
  padding: 5rem 0;
}